:root {
	--far-bg-color: #F1F0EE;					/* Very light grey */
	--near-bg-color: #FFFFFF;					/* White */
	--outline-color: #EBE7E0;					/* Light grey */
	--sqs-green: #206E5B;						/* Green */
	--sqs-blue: #6496B8;						/* Light blue */
	--dark-text-color: #404041;					/* Dark grey */
	--light-text-color: var(--near-bg-color);	/* White */
}

* {
	font-family: "Arial", sans-serif;
	color: var(--dark-text-color);
}

body {
	background-color: var(--far-bg-color);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.raised-button {
	padding: 10px 20px;
	background-color: var(--sqs-green);
	color: var(--near-bg-color);
	border: 3px solid var(--sqs-green);
	border-radius: 3px;
	outline: 0;
	transition-duration: 0.25s;
}

.raised-button:hover {
	background-color: var(--near-bg-color);
	color: var(--sqs-green);
}

.raised-button:active {
	position: relative;
	top: 1px;
}

.text-input-container {
	width: 100%;
}

.text-input {
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 3px solid var(--sqs-green);
	transition-duration: 0.25s;
}

.text-input:focus {
	border-bottom: 3px solid var(--sqs-blue);
	outline: 0;
}

hr {
	border-top: 3px solid var(--sqs-green);
	margin: 10px 5px 0 0;
}

.logo-container {
	display: flex;
	justify-content: center;
}

.logo {
	margin: 25px;
}

.column-container{
	margin: 5px 0;
}

.main-container {
	background-color: var(--near-bg-color);
	border: 3px solid var(--outline-color);
	border-radius: 3px;
	width: 500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-container {
	padding: 0 15px;
}
