:root {
	--far-bg-color: #F1F0EE;					/* Very light grey */
	--near-bg-color: #FFFFFF;					/* White */
	--outline-color: #EBE7E0;					/* Light grey */
	--sqs-green: #206E5B;						/* Green */
	--sqs-blue: #6496B8;						/* Light blue */
	--dark-text-color: #404041;					/* Dark grey */
	--light-text-color: var(--near-bg-color);	/* White */
	--med-font: 48px;
	--big-font: 64px;
}

* {
	font-family: "Arial", sans-serif;
	color: var(--dark-text-color);
}

body {
	background-color: var(--near-bg-color);
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	margin: 0;
	margin-top: 131px;	/* toolbar container's height */
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	overflow-y: scroll;
}

.raised-button {
	padding: 10px 20px;
	background-color: var(--sqs-green);
	color: var(--near-bg-color);
	border: 3px solid var(--sqs-green);
	border-radius: 3px;
	outline: 0;
	transition-duration: 0.25s;
}

.raised-button:hover {
	background-color: var(--near-bg-color);
	color: var(--sqs-green);
}

.raised-button:active {
	position: relative;
	top: 1px;
}

.text-input-container {
	width: 100%;
}

.text-input {
	width: 100%;
	border: none;
	border-bottom: 5px solid var(--sqs-green);
	transition-duration: 0.25s;
	font-size: var(--med-font);
}

.text-input:focus {
	border-bottom: 5px solid var(--sqs-blue);
	outline: 0;
}

hr {
	border-top: 5px solid var(--sqs-green);
	margin: 25px 0 10px 0;
}

.logo-container {
	display: flex;
	justify-content: center;
}

.logo {
	margin: 25px;
}

.column-container{
	margin: 15px 0;
}

.column-container-bottom {
	margin: 0 0 15px 0;
}

.main-container {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-tems: flex-start;
}

.content-container {
	padding: 0 30px;
}

.big-font {
	font-size: var(--big-font);
}

.med-font {
	font-size: var(--med-font);
}