/* resources/css/base.css should already be linked */

.toolbar-container {
	background-color: var(--sqs-green);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: 131px;
}

.toolbar {
	color: var(--near-bg-color);
	list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    display: table;
}

.toolbar li {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
}

.toolbar li a {
	text-decoration: none;
	color: var(--near-bg-color);
	padding: 0 10px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	transition-duration: 0.25s;
}

.toolbar li:hover {
	background-color: var(--sqs-blue);
} 

.center {
	text-align: center;
}

.toolbar li .current-page {
	font-weight: bold;
}